In [1]:
vowels  = ['a','e','i','o','u']

In [2]:
print(f'vowels are {vowels}')

vowels are ['a', 'e', 'i', 'o', 'u']

In [3]:
vowels[3]

'o'

In [4]:
vowels[3:5]

['o', 'u']

In [5]:
vowels[0:3]

['a', 'e', 'i']

In [6]:
t1 = ('angelina','actress',36)

In [8]:
print(f'tuple is {t1}, {type(t1)}')

tuple is ('angelina', 'actress', 36), <class 'tuple'>

In [9]:
len(t1)

3

In [10]:
t2 = ()

In [11]:
print(t2,type(t2))

() <class 'tuple'>

In [12]:
t1

('angelina', 'actress', 36)

In [13]:
t1.index(36)

2

In [15]:
t1.count('angelina')

1

In [16]:
t1.count(36)

1

In [17]:
t1.count('actress')

1

In [18]:
len(t1)

3

In [19]:
len(t2)

0

In [20]:
t1

('angelina', 'actress', 36)

In [21]:
t2=(36,12,44,12,9)

In [26]:
lst1 = sorted(t2)

In [27]:
print(lst1,type(lst1))

[9, 12, 12, 36, 44] <class 'list'>

In [28]:
t3 = tuple(lst1)

In [29]:
print(t3,type(t3))

(9, 12, 12, 36, 44) <class 'tuple'>

In [30]:
t2

(36, 12, 44, 12, 9)

In [31]:
t3

(9, 12, 12, 36, 44)

In [32]:
t4=t2+t3

In [33]:
print(t4)

(36, 12, 44, 12, 9, 9, 12, 12, 36, 44)

In [35]:
t5 = ('angelina','brad','donald','charlie','alice',22)

In [36]:
sorted(t5)

TypeError: '<' not supported between instances of 'int' and 'str'

In [37]:
s1 = {10,20,10,20,30,40}

In [38]:
s1

{10, 20, 30, 40}

In [39]:
print(s1)

{40, 10, 20, 30}

In [40]:
s2 = {'books','apple',34,'coffee','mug','phone',55}

In [45]:
s2

{34, 55, 'apple', 'books', 'coffee', 'phone'}

In [41]:
print(s2,type(s2))

{'mug', 'books', 34, 'apple', 55, 'phone', 'coffee'} <class 'set'>

In [44]:
s2.pop()

'mug'

In [47]:
articles = {'books','coffee','pen','computer','mug',34}

In [48]:
articles.add(23)

In [49]:
articles

{23, 34, 'books', 'coffee', 'computer', 'mug', 'pen'}

In [50]:
print(articles)

{'computer', 'books', 34, 'mug', 23, 'coffee', 'pen'}

In [53]:
articles=set()

In [54]:
print(articles,type(articles))

set() <class 'set'>

In [56]:
rainbow = {'violet','indigo','blue','green','yellow','orange','red'}

olympic_flag = {'red','green','yellow','blue','black'}

In [57]:
rainbow.difference(olympic_flag)

{'indigo', 'orange', 'violet'}

In [58]:
olympic_flag.difference(rainbow)

{'black'}

In [59]:
rainbow.symmetric_difference(olympic_flag)

{'black', 'indigo', 'orange', 'violet'}

In [64]:
person = {
    "name":'Angelina',
    "age":36,
    "profession":'Actress',
    "single":True
}

In [65]:
print(person,type(person))

{'name': 'Angelina', 'age': 36, 'profession': 'Actress', 'single': True} <class 'dict'>

In [66]:
person["name"]

'Angelina'

In [67]:
person.get('age')

36

In [68]:
olympic_cities = {
    2020:'Tokyo',
    2012:'Seoul',
    2024:'Shangai'
}

In [69]:
print(olympic_cities,type(olympic_cities))

{2020: 'Tokyo', 2012: 'Seoul', 2024: 'Shangai'} <class 'dict'>

In [70]:
d1 = {}

In [71]:
print(d1,type(d1))

{} <class 'dict'>

In [72]:
d2 = dict()

In [73]:
print(d2,type(d2))

{} <class 'dict'>

In [74]:
olympic_cities

{2020: 'Tokyo', 2012: 'Seoul', 2024: 'Shangai'}

In [75]:
olympic_cities[2020]

'Tokyo'

In [76]:
olympic_cities.get(2020)

'Tokyo'

In [77]:
olympic_hosts = {
    'summer':olympic_cities,
    'winter':{2022:'Beijin',2014:'Tokyo'}
}

In [78]:
olympic_hosts

{'summer': {2020: 'Tokyo', 2012: 'Seoul', 2024: 'Shangai'},
 'winter': {2022: 'Beijin', 2014: 'Tokyo'}}

In [80]:
olympic_hosts['winter'][2022]

'Beijin'

In [81]:
olympic_hosts['summer'][2020]

'Tokyo'

In [82]:
olympic_hosts['summer'][2023]

KeyError: 2023

In [84]:
olympic_hosts['summer'].get(2023,'NA')

'NA'

In [86]:
olympic_cities

{2020: 'Tokyo', 2012: 'Seoul', 2024: 'Shangai'}

In [89]:
for key,val in olympic_cities.items():
    print(f'{key}==========>{val}')

2020==========>Tokyo
2012==========>Seoul
2024==========>Shangai

In [90]:
for item in olympic_cities:
    print(item)

2020
2012
2024

In [91]:
d1={}

In [92]:
d1['name'] ='Salma Hayek'

In [93]:
d1['age'] = 36

In [94]:
d1['city'] = 'Los Angeles'

In [95]:
d1

{'name': 'Salma Hayek', 'age': 36, 'city': 'Los Angeles'}

In [96]:
tvshow = {
    'name':'Rookie',
    'genre':'drama',
    'OTT':'Netflix'
}

In [97]:
print(tvshow,type(tvshow))

{'name': 'Rookie', 'genre': 'drama', 'OTT': 'Netflix'} <class 'dict'>

In [98]:
tvshow['watched'] = True

In [99]:
tvshow

{'name': 'Rookie', 'genre': 'drama', 'OTT': 'Netflix', 'watched': True}

In [100]:
olympic_hosts

{'summer': {2020: 'Tokyo', 2012: 'Seoul', 2024: 'Shangai'},
 'winter': {2022: 'Beijin', 2014: 'Tokyo'}}

In [101]:
olympic_cities

{2020: 'Tokyo', 2012: 'Seoul', 2024: 'Shangai'}

In [102]:
olympic_cities[2020] ='New Delhi'

In [103]:
olympic_hosts

{'summer': {2020: 'New Delhi', 2012: 'Seoul', 2024: 'Shangai'},
 'winter': {2022: 'Beijin', 2014: 'Tokyo'}}

In [104]:
olympic_cities

{2020: 'New Delhi', 2012: 'Seoul', 2024: 'Shangai'}

In [105]:
del olympic_cities[2024]

In [106]:
olympic_cities

{2020: 'New Delhi', 2012: 'Seoul'}

In [107]:
tvshow

{'name': 'Rookie', 'genre': 'drama', 'OTT': 'Netflix', 'watched': True}

In [108]:
for key in tvshow.keys():
    print(key)

name
genre
OTT
watched

In [109]:
for val in tvshow.values():
    print(val)

Rookie
drama
Netflix
True

In [110]:
for key,val in tvshow.items():
    print(key,'==========>',val)

name ==========> Rookie
genre ==========> drama
OTT ==========> Netflix
watched ==========> True

In [111]:
vowels = ['a','e','i','o','u']

In [112]:
for char in vowels:
    print(char)

a
e
i
o
u

In [114]:
for item in range(7):
    print(item,item*2)

0 0
1 2
2 4
3 6
4 8
5 10
6 12

In [116]:
input_files = ['data01.csv','data02.csv','data03.csv','data04.csv']

In [118]:
output_files = []

for file in input_files:
    tmpFile = 'processed_'+file.replace('csv','xlsx')
    output_files.append(tmpFile)

In [119]:
output_files

['processed_data01.xlsx',
 'processed_data02.xlsx',
 'processed_data03.xlsx',
 'processed_data04.xlsx']

In [121]:
actors = ['angelina','salma','madhuri','samantha','brad pitt']

In [122]:
for index,val in enumerate(actors):
    print(index,'==========>',val)

0 ==========> angelina
1 ==========> salma
2 ==========> madhuri
3 ==========> samantha
4 ==========> brad pitt

In [123]:
numbers = [3.14,9.8,3.10,420]

In [124]:
for index,num in enumerate(numbers):
    print(index,num)

0 3.14
1 9.8
2 3.1
3 420

In [127]:
for index,num in enumerate(numbers):
    print(index,num)

0 3.14
1 9.8
2 3.1
3 420

In [129]:
newNumbers = [num*10 for num in numbers]

In [130]:
newNumbers

[31.400000000000002, 98.0, 31.0, 4200]

In [131]:
lats = (34.5,41.2,67.3)

In [132]:
longs = (74.1,83,93)

In [133]:
for item1,item2 in zip(lats,longs):
    print(item1,item2)

34.5 74.1
41.2 83
67.3 93

In [134]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

In [135]:
for item in matrix:
    for char in item:
        print(char)

1
2
3
4
5
6
7
8
9

In [137]:
size = 10
index=0
while(index<size):
    print(index)
    index+=1

0
1
2
3
4
5
6
7
8
9

In [140]:
for item in range(10):
   if item==6:
       break
   print(item)

0
1
2
3
4
5

In [142]:
lst=[]
while True:
    msg = int(input('Plz enter list of values'))
    lst.append(msg)
    if msg=='!':
        break
    
print(lst)

['', '23', '42', '12', '14', '523', '42', '!']

In [143]:
wishes = 3
counter =0
while counter < wishes:
    counter+=1
    print(counter)

1
2
3

In [149]:
with open('input.txt','r') as file:
    content = file.readlines()
    print(f'file content is {content}')

file content is ['When deploying FastAPI applications a common approach is to build a Linux container image. \n', "It's normally done using Docker. You can then deploy that container image in one of a few possible ways.\n", 'Using Linux containers has several advantages including security, replicability, simplicity, and others.']

In [150]:
with open(r"C:\Udemy-MachineLearning\03-Pandas\movies_score.csv",'r') as file:
    content = file.readline()
    print(f'content is {content}')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Udemy-MachineLearning\\03-Pandas\\movies_score.csv'