In [1]:
def celsius_to_farenheit(temp):
    return 9/5*temp + 32

In [3]:
result = celsius_to_farenheit(10)

In [4]:
print(f'tempareture in farenheit {result}')

tempareture in farenheit 50.0

In [7]:
def calculate_score(subj1,subj2,subj3):
    total = subj1+subj2+subj3
    return (total/3)

In [9]:
percentage = calculate_score(80,90,89)

In [11]:
print(f'My percentage is {percentage:.2f} %')

My percentage is 86.33 %

In [18]:
def calculate_tax(income,rate=0.13):
    return income+income*rate

In [19]:
taxation1 = calculate_tax(100)

In [20]:
taxation2 = calculate_tax(100,0.13)

In [21]:
print(f'Tax is {taxation1}')

Tax is 113.0

In [22]:
print(f'Tax is {taxation2}')

Tax is 113.0

In [24]:
'''
This is rhythm of life 
However we should enjoy life as well

'''

'\nThis is rhythm of life \nHowever we should enjoy life as well\n\n'

In [27]:
print('This is awesomness of Escape sequences. \t Plz enjoy the beautiful spring season in Toronot.')

This is awesomness of Escape sequences. 	 Plz enjoy the beautiful spring season in Toronot.

In [29]:
print('My favourite actress is \t Angelina Jolie. Angelina\'s Jolie food is Nacho\'s')

My favourite actress is 	 Angelina Jolie. Angelina's Jolie food is Nacho's

In [30]:
3 == 3

True

In [31]:
'Hello' + 3

TypeError: can only concatenate str (not "int") to str

In [32]:
'Hello'*3

'HelloHelloHello'

In [35]:
3!=3

False

In [36]:
'apple' == 'apple'

True

In [37]:
'Apple' == 'apple'

False

In [38]:
'20'==20

False

In [42]:
number ='+1 647-433-1243'

In [48]:
number[3:6]

'647'

In [49]:
job = 'The successful applicant will be proficient in R, Python, SQL, statistics, and data visualization.'

In [50]:
'R' in job

True

In [51]:
'Python' in job

True

In [52]:
if 'SQL' in job:
    print('SQL found')

SQL found

In [53]:
len("Hello World")

11